<ul class="nav nav-pills justify-content-end">
  <li class="nav item">
  <a class="nav-link" href="#">
    <img src="/images/icon.png" width="70" alt="Ícono de la empresa">
  </a>
</li>
  <li class="nav-item">
    <a class="nav-link" href="../index.html">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Our Company</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="../Company/about_us.html">About us</a>
      <a class="dropdown-item" href="../Company/our_services.html">Our Services</a>
      <a class="dropdown-item" href="../Company/incoming_projects.html">Incoming Projects</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="../Person/Person.html">Work with us!</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../Contact/contact_us">Contact Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>